.colorpick{
    grid-area: ColorPick;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background: #d9d5d2;
    border-left: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    font-weight: bold;
    color: rgba(0,0,0,.7);
    padding: 15px;
}

.colorpick .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorpick .item:hover{
    cursor: pointer;
}

/*grid-area défini dans app.css.*/