.title{
    grid-area: Title;
    text-align: center;
    font-size: 60px;
    font-family: 'Cabin Sketch';
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
/*Media queries*/
@media screen and (max-width: 768px){
    .title{
        font-size: 45px;
        padding-top: 10px;
        padding-right: 10px;
    }
}