.gameEnds {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: lightgrey;
    display: grid;
    place-content: center;
    justify-content: center;
}
.gameEnds .secretReveal{
    display: flex;
    gap: 10px;
}
.endMessage {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}